html {
  font-size: 16px;

  @media (min-width: 1920px) {
    font-size: 26px;
  }
}

body {
  background: var(--main-bg-color);
  margin: 0;
  padding: 0;

  font-family: 'Share Tech Mono', monospace;
  font-size: 1em;

  * {
    user-select: none;
  }
}