.StandByScreen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  background-size: 100%;

  .ShieldBadge {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(0.5);
  }
}