.SirenBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .label {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-danger);
  }

  .ring {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background: white;
    border: 0.3rem solid var(--color-danger);

    .SirenIcon {
      width: 7rem;
      height: 7rem;
    }
  }

  .time-left {
    color: var(--color-danger);
    font-size: 4rem;
    margin-top: 1rem;
  }
}