@import '@app/styles/helpers/mixins';

.Dashboard {
  .SettingsButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .button {
      @include button;
      width: 5rem;
      height: 5rem;
      border-radius: 100%;

      svg {
        transform: scale(0.8);
      }
    }

    .SettingsPanel {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
    }
  }
}