@import '@app/styles/helpers/mixins';

.Dashboard {
  .ArmOptions {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;

      .arm-button {
        @include button;
        width: 30%;
        height: 10rem;
        font-size: 3.5rem;
      }
    }
  }
}