.Dashboard {
  .ArmScreen {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: relative;

    .title {
      width: 100%;
      text-align: center;
      font-size: 7rem;
      margin-top: 3rem;
      color: var(--color-mute);
    }

    .ActionBar {
      .SettingsButton {
        margin-right: 2rem;
      }

      .VideoButton {
        margin-right: 2rem;
      }
    }
  }
}