.MainClock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .Clock {
    margin-bottom: 0.5em;
  }

  .Date {
    position: absolute;
    bottom: 2em;
  }
}