.StandByScreen {
  $duration: 10s;

  .DateTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: dateBounce;
    animation-duration: $duration;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    .Clock {
      margin-bottom: 0.5em;
    }

    .Date {
      margin-top: 50%;
    }
  }
}

@keyframes dateBounce {
  from {
    transform: translateY(-40vh);
  }
  to {
    transform: translateY(20vh);
  }
}