.Dashboard {
  .DateTime {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 100%;
    width: 20%;
    min-width: 3rem;

    .time {
      text-align: right;
      font-size: 1.3rem;
    }

    .date {
      text-align: right;
    }
  }
}