.Dashboard {
  .DateTime {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    height: 100%;
    padding-top: 1.5rem;

    .time {
      font-size: 3rem;
      font-weight: bold;
      margin-left: 1rem;
      color: white;
    }

    .date {
      font-size: 2rem;
      color: rgba(white, 0.2);
    }
  }
}