@import '@app/styles/helpers/mixins';

.Dashboard {
  .Keypad {

    $gutter: 0.75rem;
    $vertical-spacer: 2rem;

    $key-width: calc(33.33% - #{$gutter}); // 3 columns
    $key-bg: white;
    $row-height: calc(25% - #{$gutter}); // 4 rows of keys

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0 0 $gutter;

    .keys {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      flex-shrink: 0;
      height: calc(100% - #{$vertical-spacer});

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $gutter;
        height: $row-height;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .key {
        @include button;
        width: $key-width;
        height: 100%;
        font-size: 5rem;

        &.clear-button {
          color: var(--color-warning);
          border-color: var(--color-warning);
          font-size: 10rem;
        }

        &.done-button {
          color: var(--color-success);
          border-color: var(--color-success);
          font-weight: bold;
        }

        &.disabled {
          color: black;
        }
      }
    }
  }
}