.ShieldBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background: white;
  border: 0.3rem solid var(--color-success);
  color: var(--color-success);

  .ShieldIcon {
    width: 7rem;
    height: 7rem;
  }
}