@mixin fullScreen {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

@mixin button {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  border: 0.1rem solid var(--color-primary);
  border-radius: var(--border-radius-default);
  font-size: 3.5rem;
  color: var(--color-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.16), 0 0.3rem 0.6rem rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:active {
    background-color: var(--color-mute);
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 0.1rem 0.2rem rgba(0,0,0,0.24);
    transform: scale(0.9);
  }
}