:root {
  --main-bg-color: #f5f5f5;

  --color-mute: #c3c3c3;
  --color-mute-lt: #f3f3f3;

  --color-primary: #03a9f4;
  --color-success: #0da035;
  --color-danger: #df4c1e;
  --color-warning: #f4b400;

  --border-radius-default: 5px;
}