:root {
  --main-bg-color: #303030;
  --main-face-color: #393c44;
  --main-text-color: #d4d5d6;

  --color-mute: #c3c3c3;
  --color-mute-lt: #f3f3f3;

  --color-primary: #03a9f4;
  --color-success: #0da035;
  --color-danger: #df4c1e;
  --color-danger-lt: #f1bbaa;
  --color-warning: #f4b400;

  --border-radius-default: 5px;
}