.Modal {
  .SettingsPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;

    .title {
      margin-bottom: 4rem;
      color: white;
      font-size: 2rem;
    }

    input {
      width: 100%;
      background-color: transparent;
      -webkit-appearance: none;

      &::-webkit-slider-runnable-track {
        background: var(--color-primary);
        border-radius: 1rem;
        width: 100%;
        height: 1rem;
      }

      &::-webkit-slider-thumb {
        margin-top: -1rem;
        width: 3rem;
        height: 3rem;
        background: var(--color-mute-lt);
        border: 0.2rem solid white;
        border-radius: 100%;
        -webkit-appearance: none;
        box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 0.1rem 0.2rem rgba(0,0,0,0.24);
      }

      &:focus {
        outline: none;
      }
    }

    .volume-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 3rem;

      .VolumeBadge {
        width: 5rem;
        height: 5rem;
      }

      .percentage {
        font-size: 3rem;
        color: var(--color-mute-lt);
        margin-left: auto;
      }
    }

  }
}