.StandByScreen {
  .NoiseGenerator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    canvas {
      display: none!important;
    }
  }
}